/*--- Global app styling ---*/

* {
    font-variant-ligatures: none;
}

body {
  background-color: #2b2d30;
  color: #bdbdbd;
  font-weight: 100;
  font-family: monospace;
  padding: 0;
  margin: 0;
  font-size: 14px;
}